<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hitherejoe.watchtower" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name=".WatchTowerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.activity.LauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.AuthActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activity.MainActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.PropertiesActivity"
                  android:label="@string/label_update"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.AttachmentsActivity"
                  android:label="@string/label_attachments"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.AddAttachmentActivity"
                  android:label="@string/label_add_attachment"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.DetailActivity"
                  android:label="@string/label_beacon_detail"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
